* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

body{
	display: flex;
	width: 100vw;
	height: 100vh;
	background: #AEFFDA;
	align-items: center;
	justify-content: center;
}

form {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 0 20px;
	border-radius: 0 0 10px 10px;
	background: #ffffff;
	align-items: center;
}

.form{
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	align-items: center;
}

.form h1 {
	width: 100%;
	background: #43A623;
	padding: 10px 0;
	font-weight: 300;
	text-align: center;
	color: #fff;
	border-radius: 10px 10px 0 0;
	font-size: 18pt;
}

.form input[type="text"],
.form input[type="url"] {
	width: 90%;
	padding: 16px;
	margin: 25px 0;
	background: #FFFFFF;
	margin-bottom: 4%;
	border: 1px solid #CCCCCC;
	border-radius: 10px;
	font-size: 14pt;
	color: #093D7D;
	outline: none;
}

.form input[type="text"]:focus,
.form input[type="url"]:focus {
	outline: none;
	border: 1px solid #43A623;
}

.buttons {
	display: grid;
	grid-template-columns: auto auto;
	gap: 10px;
}

button {
	width: 180px;
	padding: 16px;
	margin-bottom: 25px;
	background-color: #43A623;
	border: none;
	border-radius: 10px;
	font-size: 14pt;
	color: #fff;
	cursor: pointer;
	transition: background-color .2s;
} button:hover {
	background-color: #43A62370;
}

.qrcode-conteiner {
	display: none;
}

.qrcode {
	padding: 16px;
	margin-bottom: 25px;
}

.qrcode img {
	box-shadow: 0 0 10px #434344;
	padding: 4px;
}

@media screen and (max-width: 720px) {
	form {
		padding: 0;
		border-radius: 0 0 0;
	}
	.form {
		width: 100vw;
		height: 100vh;
		margin: 0;
		border-radius: 0;
	}
	.form h1 {
		border-radius: 0;
	}
}